*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    background: #2b2b2b;
}

img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #1B1B1B;
}

.logo{
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
}

.logo h4{
    font-weight: normal;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #FFF;
    text-decoration: none;
    letter-spacing: 0.18rem;
    font-weight: normal;
    font-size: 0.87em;
}

.nav-links li a:hover{
    color: cyan;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 1.56rem;
    height: 0.18rem;
    background-color: #FFF;
    margin: 0.3rem;
    transition: all 0.3s ease;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Intro */
.introducao{
    background: url() no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.introducao h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2.3em;
    color: #FFF;
    margin: auto;
}

.sliders-pointers{
    width: 100vw;
    height: 1.25rem;
    margin-top: -9.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introducao .down{
    color: #CCC;
    font-size: 1.8em;
}

.introducao .down:hover{
    color: #FFF;
}

/* About */
.about{
    background: #E6E6E6;
    padding-top: 2.5rem;
}

.about .title h1{
    text-align: center;
    font-size: 1.8em;
}

.about .title p{
    text-align: center;
    margin: 1.25rem 2.5rem;
}

.about .title p::before{
    content: "";
    width: 4rem;
    height: .2rem;
    background-color: #1B1B1B;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -1.15rem;
    margin-top: 1.8rem;
}

.about-items{
    margin: 1.25rem;
}

.about-item img{
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.about-item{
    border: 1px solid #B6B6B6;
    border-radius: 0.3rem;
    background: #F1F1F1;
    text-align: center;
    width: 18.75rem;
    min-height: 17.5rem;
    padding: 1.87rem;
}

.about-item:hover{
    background: #FFF;
}

.about-item h1{
    font-size: 1.18em;
    margin: 1.25rem auto;
    text-transform: uppercase;
}

.about-item p{
    font-size: 1em;
}

.button{
    text-align: center;
}

.btn{
    display: inline-block;
    border: 1px solid #1B1B1B;
    text-transform: uppercase;
    font-size: 0.87em;
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-weight: 600;
    margin: 3.1rem 3.1rem;
    color: #1B1B1B;
    border-radius: 0.3rem;
}

.button a:hover{
    background: #2b2b2b;
    color: #FFF;
    transition: .3s ease-in-out;
}

/* Project */
.project{
    background: #FFF;
    padding-top: 2.5rem;
}

.project .title h1{
    text-align: center;
    font-size: 1.8em;
}

.project .title p{
    text-align: center;
    margin: 1.25rem 2.5rem;
}

.project .title p::before{
    content: "";
    width: 4rem;
    height: .2rem;
    background-color: #1B1B1B;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -1.15rem;
    margin-top: 1.8rem;
}
